 <tr class="nested-fields">
 	<td><%= f.input :name, label: false, :placeholder => 'PlayerA' %></td>
 	<td><%= f.input :buyin, label: false, :placeholder => '100' %></td>
 	<td><%= f.input :buyout, label: false, :placeholder => '150' %></td>
 	<td><%= link_to_remove_association "Remove Player", f, class: 'btn btn-danger btn-xs' %></td>
 </tr>