<div align="center">
<div class="layout">
    <div class="table" id="region0">
        <div class="row" id="region1">
            <div class="zone stacked" id="discard3"></div>
            <div class="zone horizontal-fan facing-up hand" id="hand3">
                 <% @players[2].hand.each do |card| %>
                    <%= image_tag "/assets/PNG/" + card.image_name + ".png", id: card.image_name %>
                <% end %> 
             </div>
            <div class="zone stacked" id="discard4"></div>
        </div>

        <div class="row" id="region2">
            <div class="vertical-fan facing-left zone hand" id="hand2">
                <% @players[1].hand.each do |card| %>
                    <%= image_tag "/assets/PNG/" + card.image_name + ".png", id: card.image_name %>
                <% end %>
            </div>

            <div class="center-field play_zone zone" id="play_zone"></div>

            <div class="vertical-fan facing-right zone hand" id="hand4">
                <% @players[3].hand.each do |card| %>
                    <%= image_tag "/assets/PNG/" + card.image_name + ".png", id: card.image_name %>
                <% end %>
            </div>
        </div>
        
        <div class="row" id="region3">
            <div class="stacked zone" id="discard2"></div>
            <div class="horizontal-fan zone hand" id="hand1">
                <% @players[0].hand.each do |card| %>
                    <%= image_tag "/assets/PNG/" + card.image_name + ".png", id: card.image_name %>
                <% end %>
            </div>
            <div class="stacked zone" id="discard1"></div>
        </div>
    </div>
</div>
</div>
