<footer class="footer">
	<div class="container">
		<span class="text-muted"> ELO Rankings Reference: https://metinmediamath.wordpress.com/2013/11/27/how-to-calculate-the-elo-rating-including-example/</span>
	</div>
</footer>