<nav class="navbar navbar-default bg-dark">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand"><i class="glyphicon glyphicon-heart-empty" style="color:#ecf0f1"></i> IAD28 Hearts</a></div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<%= link_to '/players', class: 'btn btn-small navbar-btn', style: 'color:#ecf0f1' do %>
        <i class="glyphicon glyphicon-sort"></i> Rankings
<% end %>
<%= link_to '/games', class: 'btn btn-small navbar-btn', style: 'color:#ecf0f1' do %>
        <i class="glyphicon glyphicon-file"></i> Match History
<% end %>
</ul>
<ul class="navbar navbar-nav navbar-right">
<%= link_to 'games/new', class: 'btn btn-small navbar-btn', style: 'color:#ecf0f1' do %>
        <i class="glyphicon glyphicon-plus"></i> Add Match
<% end %>
</ul>
</div>
	</div>
</nav>
